* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

#board div.live {
    background-color: #000000;
}

#board {
    margin: 5px auto 0;
    min-height: 100px;
    min-width: 100px;
    display: none;
}

#game-menu {
    margin: 20px auto 2px;
    width: 200px;
    text-align: center;
}

#form {
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

#start {
  width : 100px;
  height: 22px;
  background: red;
  color: white;
  border-radius: 11px;
  margin : 10px auto 0;
  padding-top: 2px;
}

button {
  display: none;
  width : 100px;
}

img {
  width : 100%;
}
